.popup__button {
  height: 50px;
  border-radius: 2px;
  padding: 0;
  font-size: 20px;
  text-align: center;
  color: #FFFFFF;
  transition: opacity 0.5s;
  margin-top: 20px;
  background-color: #399399;
  border: none;
}

.popup__button:hover {
  cursor: pointer;
  opacity: 0.8;
}

@media all and (max-width: 480px) {
  .popup__button {
    height: 40px;
    margin-top: 4px;
  }
}
